html, body {
    width: 100%;
    height: 100%;
}
.test {
    height: 50%;
    width: 50%;
    background: #000;
}


.flexcontainer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row /* works with row or column */
flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 2%;

}
.button {
    display: inline-block;
    width: 33%;
    height: 400px;
    margin: 3px;
    border: 1px solid #c3c3c3;

}


.flexcontainertwo {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row /* works with row or column */
flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 2%;

}

.after-box {
    clear: left;
}

.black{
    background: black;
}

.red {
    background: red;
}

.blue {
    background: #0583BA;
}



}

.after-box {
    clear: left;
}

.flexcontainertwo {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row /* works with row or column */
flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 2%;

}

.text-section {

    font-size: 1.5em;
    margin: 0 auto;

    display: block;
    padding: 5%;

}



.after-box {
    clear: left;
}

.box {
    display: inline-block;
    width: 100%;
    height: 400px;


}

.after-box {
    clear: left;
}



.box-blue {
    background: #0583BA;
    width: 65%;
    margin: 0;
}

.box-red {
    background: red;
    width: 35%;
    margin: 0;
}

.space {
    height: 2em;
}



.flexcontainerthree {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row /* works with row or column */
flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 2%;

}

.bottom-box {
    display: inline-block;
    height: 180px;
}

.bottom-gray {
    background: #333333;
    width: 56%;
}

.bottom-blue {
    background: #0583BA;
    width: 16%;
}

.bottom-red {
    background: red;
    width: 12%;
}

.bottom-blue-two {
    background: #0583BA;
    width: 16%;
}

.space-bottom {
    height: 5em;
}